<h1>{{item.name}}</h1>
<p>Price : {{item.price}} EUR</p>
<p>In Stock: {{item.quantity}} units</p>
<p><a href="/products/buy/{{item.id}}/?price={{item.price}}&session={{user}}"><h2>BUY</h2></a></p>
<a href="/products">Back to products</a> | <a href="/">Homepage</a>
